<center>

<h1> Databases </h1>
<h2> CS3100 Fall 2019 </h2>
</center>

## Review

### Previously

* Countdown Game, Type Inference and Program Synthesis.

### This lecture

* Connections between SQL and Prolog

## Relational Databases

* A database is a store of facts.
* A relation database is organized on the principles of relational model
  + Consists of one or more tables with rows and named columns
* A table schema captures 
  + the column names
  + types over values 
  + any constraints on values in each column
  + relationship between between columns across different tables
* Structured Query Language (SQL) 
  + A standard language used to read and write to relational databases.

## IMDB database

* For this section, we will focus on a small slice of the IMDB database. 
* The database contains information about the movies directed by a few directors. 
* The database `imdb_small.db` can be explored using `sqlite` in terminal.

## IMDB tables

```
CREATE TABLE tPeople (
  person_id varchar primary key, 
  name varchar, 
  born integer);

CREATE TABLE tTitles (
  title_id varchar primary key, 
  title varchar, 
  premiered integer, 
  runtime_minutes integer, 
  genres varchar);
);
```

## IMDB tables

```
CREATE TABLE tDirectedBy (
  title_id varchar, 
  person_id varchar, 
  primary key (title_id, person_id));
  
CREATE TABLE tRatings (
  title_id VARCHAR PRIMARY KEY,
  rating INTEGER,
  votes INTEGER
);
```

## Representing relational tables in Prolog

```
+--------------------------+
|     SQL      |   Prolog  |
+--------------------------+
| tables       | predicate |
| rows         | fact      |
| column names | -         |
| schema       | -         |
+--------------------------+
```

## tPeople table in Prolog

```prolog
/* tPeople(person_id, name, born). */
tPeople(nm0634240,"Christopher Nolan",1970).
tPeople(nm0000217,"Martin Scorsese",1942).
tPeople(nm0000233,"Quentin Tarantino",1963).
tPeople(nm0000229,"Steven Spielberg",1946).
```

Let's load all the data into Prolog from the file `imdb_small.pl`.

In [10]:
?- [imdb_small].

true.

## Select rows in SQL

Get me all the rows from the `tPeople` table.

```sql
sqlite> select * from tPeople;
nm0634240|Christopher Nolan|1970
nm0000217|Martin Scorsese|1942
nm0000233|Quentin Tarantino|1963
nm0000229|Steven Spielberg|1946
```

## Select rows in Prolog

In prolog, the query is represented by the same predicate that defines the table.

In [16]:
?- tPeople(PersonId,Name,Born).

PersonId = nm0634240, Born = 1970, Name = Christopher Nolan ;
PersonId = nm0000217, Born = 1942, Name = Martin Scorsese ;
PersonId = nm0000233, Born = 1963, Name = Quentin Tarantino ;
PersonId = nm0000229, Born = 1946, Name = Steven Spielberg .

## Select with filter

Get me all the information about `Christopher Nolan` from tPeople table.

```sql
sqlite> select * from tPeople where name="Christopher Nolan";
nm0634240|Christopher Nolan|1970
```

In [15]:
?- tPeople(PersonId,Name,Born), Name="Christopher Nolan".

PersonId = nm0634240, Born = 1970, Name = Christopher Nolan .

## Select with filter

```sql
sqlite> select * from tPeople where born > 1960;
nm0634240|Christopher Nolan|1970
nm0000233|Quentin Tarantino|1963
```

In [4]:
?- tPeople(PersonId,Name,Born), Born > 1960.

PersonId = nm0634240, Born = 1970, Name = Christopher Nolan ;
PersonId = nm0000233, Born = 1963, Name = Quentin Tarantino .

## Projection

Projection is act of choosing a subset of columns from the table.

```sql
sqlite> select Name,Born from tPeople where born > 1960;
Christopher Nolan|1970
Quentin Tarantino|1963
```

In [5]:
?- tPeople(_,Name,Born), Born > 1960.

Born = 1970, Name = Christopher Nolan ;
Born = 1963, Name = Quentin Tarantino .

## DirectedBy

`tDirectBy` table contains movies associates a director with the movie that they directed.

```sql
sqlite> select * from tDirectedBy limit 5;
tt0053416|nm0000217
tt0054670|nm0000229
tt0054857|nm0000229
tt0057680|nm0000217
tt0058242|nm0000217
```

In [8]:
?- tDirectedBy(TitleId,PersonId) {5}.

PersonId = nm0000217, TitleId = tt0053416 ;
PersonId = nm0000229, TitleId = tt0054670 ;
PersonId = nm0000229, TitleId = tt0054857 ;
PersonId = nm0000217, TitleId = tt0057680 ;
PersonId = nm0000217, TitleId = tt0058242 .

How do we get this information in human readable form?

In [ ]:
## Joins

* What is the average rating for a Spielberg movie?
* What is the average rating for the directors?
* How many movies has Nolan directed?
* How many movies a year does Scorsese direct?
* What is best rated Scorsese movie?
* What is the worst rated Tarentino movie?
* What are the upcoming movies for these directors?